RewriteEngine On
RewriteCond %{HTTPS} !=on
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301,NE]
#Header always set Content-Security-Policy "upgrade-insecure-requests;"

<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /
    RewriteRule ^index\.html$ - [L]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    #RewriteRule . /index.html [L]

    #example.com/page will display the contents of example.com/page.html
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME}.html -f
    RewriteRule ^(.+)$ $1.html [L,QSA]

    #301 from example.com/page.html to example.com/page
    RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /.*\.html\ HTTP/
    RewriteRule ^(.*)\.html$ /$1 [R=301,L]

    ErrorDocument 404 /404.html
</IfModule>

<IfModule mod_expires.c>
    ExpiresActive On

    # Images
    ExpiresByType image/jpeg "access 1 year"
    ExpiresByType image/gif "access 1 year"
    ExpiresByType image/png "access 1 year"
    ExpiresByType image/webp "access 1 year"
    ExpiresByType image/svg+xml "access 1 year"
    ExpiresByType image/x-icon "access 1 year"

    # Video
    ExpiresByType video/webm "access 1 year"
    ExpiresByType video/mp4 "access 1 year"
    ExpiresByType video/mpeg "access 1 year"

    # Fonts
    ExpiresByType font/ttf "access 1 year"
    ExpiresByType font/otf "access 1 year"
    ExpiresByType font/woff "access 1 year"
    ExpiresByType font/woff2 "access 1 year"
    ExpiresByType application/font-woff "access 1 year"
    ExpiresByType application/font-woff2 "access 1 year"
    ExpiresByType application/font-ttf "access 1 year"
    ExpiresByType application/font-otf "access 1 year"

    # CSS, JavaScript
    ExpiresByType text/css "access 1 year"
    ExpiresByType text/javascript "access 1 year"
    ExpiresByType text/x-javascript "access 1 year"
    ExpiresByType application/javascript "access 1 year"

    # Others
    ExpiresByType application/pdf "access 1 year"
    ExpiresByType image/vnd.microsoft.icon "access 1 year"
</IfModule>