

/* / CSS Variables / */
:root{
    --primary-color: #04044c;
    --primary-color2: #F5D161;
    --primary-color3: #F5E598;
    --primary-color4: #FDF5f7;
    --primary-color5: #F5f6F8;
    --title-color: #141313;
    --text-color: #fdfcf7;
    --border-color: #201f1f17;
    --gradient-color: linear-gradient(90deg, #4057e9 0%, #03083d 100%);
    --shadow-color: 0px 10px 30px #5584e14d;
    --box-shadow: 0px 10px 30px #39383d34;

    /* / font-family variables / */
    --bahnschrift:'bahnschrift', sans-serif;
    --raleway: 'raleway', sans-serif;
    --for-futurist: 'forgotten-futurist', sans-serif;
}

html, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}
