@import url(./fonts.css);
@import url(./_variables.css);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'bahnschrift', 'Raleway', sans-serif;
  scroll-behavior: smooth;

}

a {
  color: #3498db;
  text-decoration: none;
}

a:hover {
  color: #5faee3;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'bahnschrift', 'Raleway', sans-serif;
}

/* <----------topbar---------> */
.maincolor {
  color: #04044c;
}

.maincolor1 {
  color: #dca549;
}

.bgcolor {
  background-color: #04044c;
}

.topsvg {
  width: 20px;
}

.topbottom {
  border-bottom: 2px solid #F4E599;
}

.topline::after {
  content: "";
  width: 58px;
  height: 3px;
  position: absolute;
  top: 49%;
  left: 98%;
  border-radius: 11px;
  background-color: #dca549;
  transform: rotate(304deg);
}

.topline1::before {
  content: "";
  width: 88px;
  height: 3px;
  position: absolute;
  top: 44%;
  left: -11%;
  border-radius: 11px;
  background-color: #dca549;
  transform: rotate(319deg);
}

/* <-----slider---------> */

.carousel-item {
   background: linear-gradient(rgba(6, 3, 21, .5), rgba(6, 3, 21, .5)), left center no-repeat;
  background-size: cover;
  height: 550px;

}

.carbtn {
  background-color: #04044c;
}

/* <----------slider close-------> */


/* <--------section 1-------> */
.svgsec1 {
  width: 3rem;
}

.svgsec2 {
  width: 1.5rem;
}

.indlog {
  width: 23px;
}

.indlog1 {
  width: 30px;
}

.card-cover:hover {
  box-shadow: 1px 3px 25px rgb(179 179 179 / 84%) !important;
  transition: 0.5s ease-in-out;
}

.card-cover {
  width: 30% !important;
}

.spacing {
  letter-spacing: 3px;
}

.under1::before {
  content: "";
  width: 250px;
  height: 5px;
  position: absolute;
  bottom: -4px;
  left: 55%;
  border-radius: 5px;
  background-color: #04044c;
}

.cardsec {
  padding: 15px 0 50px 10px;
}

.wrapper {
  width: 90%;
  text-align: center;
}
.wrapper1{
  width: 100%;
}

.grow_spin {
  background: #04044c;
  color: #fff;
  border: 0.25rem solid #04044c;
  padding: 5px 20px;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.grow_spin:hover {
  color: #dca549;
}

.grow_spin::after {
  content: "";
  background: #ecf0f1;
  position: absolute;
  z-index: -1;
  padding: 0.85em 0.75em;
  display: block;
}

.grow_spin[class^="grow"]::after {
  transition: all 0.3s ease;
}

.grow_spin[class^="grow"]:hover::after {
  transition: all 0.3s ease-out;
}

.grow_spin::after {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transform: scale(0, 0) rotate(-180deg);
}

.grow_spin:hover::after {
  transform: scale(1, 1) rotate(0deg);
}

/* <---------section1 close------> */

/* <------------section2 start--------> */

.sec2image {
  background-image: url(../img/NEW/5\ car.jpg);
  background-repeat: no-repeat;
  background-size: 90%;
}

.sec2icon {
  width: 50px;
}

.under::before {
  content: "";
  width: 185px;
  height: 5px;
  position: absolute;
  bottom: -4px;
  left: 54%;
  border-radius: 5px;
  background-color: #04044c;
}
.reqbtn{
  word-spacing: 5px;
}
/* <-------------section2 close-----------> */

/* <------------section3 start---------> */
.under2::before {
  content: "";
  width: 161px;
  height: 5px;
  position: absolute;
  bottom: -4px;
  left: 44%;
  border-radius: 5px;
  background-color: #04044c;
}


.blogimg {
  background-blend-mode: saturation;
  background-color: #0000006e;
  background-position: center;
}

.fg-services .fg_services_item {
  height: 310px;
  position: relative;
  overflow: hidden;
  border-radius: 2px;
  background-repeat: no-repeat;
  background-size: cover;
}

.fg-services .fg_services_item::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: rgba(72, 72, 72, .3)
}

.fg-services .fg_services_item:hover .fg_services_item_text {
  bottom: -15px;
  background-color: #081f3ac2;
  background-blend-mode: overlay;
}

.fg-services .fg_services_item:hover .fg_services_item_text h4 {
  margin-bottom: 12px
}

.fg-services .fg_services_item_text {
  position: absolute;
  left: 0;
  bottom: -275px;
  width: 100%;
  padding: 78px 20px;
  -webkit-transition: all, .4s;
  -o-transition: all, .4s;
  transition: all, .4s
}

.fg-services .fg_services_item_text h4 {
  font-weight: 700;
  color: #fff;
  margin-bottom: 80px;
  -webkit-transition: all, .2s;
  -o-transition: all, .2s;
  transition: all, .2s;
  font-size: 22px
}

.fg-services .fg_services_item_text p {
  color: #fff;
  margin-bottom: 25px;
  font-weight: 300
}

.fg-services .fg_services_item_text a {
  font-size: 14px;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 6px 12px;
  position: relative;
  text-decoration: none;
  border: 2px solid #dca549;
  transition: all .2s
}

.fg-services .fg_services_item_text a:hover {
  background: #0F3C78;
}


/* <----------section3 close----------> */

/* <-----------section4 start------> */
.under3::before {
  content: "";
  width: 240px;
  height: 5px;
  position: absolute;
  bottom: -4px;
  left: 44%;
  border-radius: 5px;
  background-color: #04044c;
}



.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 50% !important;
  height: 100%;
  object-fit: cover;
}

.swiper {
  width: 100%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide {
  background-size: cover;
  background-position: center;
}

.mySwiper2 {
  height: 80%;
  width: 80% !important;
}

.mySwiper {
  height: 20%;
  box-sizing: border-box;
  padding: 10px 0;
}

.mySwiper .swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.4;
}

.mySwiper .swiper-slide-thumb-active {
  opacity: 1;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* <============about================> */
.page-header {
  background: url(../img/NEW/banner.jpg) center center no-repeat;
  background-size: cover;
  background-blend-mode: overlay;
  background-color: rgba(4,4,76,0.702);
  padding: 100px 0;
}

.abtbottom{
  border-color: #dca549 !important;
}





/* <==========footer==========> */

#footer {
  background: #04044c;
}

#footer .footer-top {
  background: #04044c;
  padding: 60px 0 30px 0;
}

#footer .footer-top .footer-info {
  margin-bottom: 30px;
}

#footer .footer-top .footer-info h3 {
  font-size: 28px;
  margin: 0 0 20px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-weight: 700;
  text-transform: uppercase;
}


#footer .footer-top .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #292929;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 4px;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .footer-top .social-links a:hover {
  background: #dca549;
  color: #04044c;
  text-decoration: none;
}


#footer .footer-top .footer-links ul i {
  padding-right: 2px;
  color: #dca549;
  font-size: 18px;
  line-height: 1;
}

#footer .footer-top .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

#footer .footer-top .footer-links ul a {
  color: #fff;
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}

#footer .footer-top .footer-links ul a:hover {
  color: #dca549;
}

#footer .footer-top .footer-newsletter form {
  margin-top: 30px;
  background: #fff;
  padding: 6px 10px;
  position: relative;
  border-radius: 4px;
}


#footer .copyright {
  text-align: center;
}

#footer .credits {
  text-align: center;
  font-size: 13px;
  color: #fff;
}
/* <============footer========> */


/* <========contact=============> */
.contact-section {
  background-image: url(../img/NEW/cont5.jpg);
  background-position: left center;
  background-size: cover;
  background-repeat: no-repeat;
}

.contact-container {
  background-color: #060c1454;
  opacity: 0.9;
  height: 100%;
  padding: 2rem 4rem !important;
}

.contact-col {
  padding: 0rem 3rem !important;
}

.mainhead {
  font-size: 47px !important;
}

.contact-col-2 {
  background-color: #0f3c785c;
  padding: 2rem 4rem 3rem 4rem !important;
}

.contact-col-2 label {
  font-size: 1rem;
  font-weight: 600;
}

.contact-col-2 input,
.contact-col-2 textarea {
  font-size: 1rem !important;
  font-weight: 400;
  padding-left: 0.5rem !important;
  padding-right: 0.5rem !important;
  border: solid 0.08rem grey !important;
}

.contact-col-2 textarea {
  padding-top: 1rem !important;
  height: 10rem;
  width: 200% !important;
  resize: vertical;
}

.formbox {
  border-radius: 0;
}

.sendbtn:hover {
  color: #F4E599;
  background-color: #0F3C78;
  border-radius: 0;
}


/* Contact Mobile Section */
/* Contact Form */

.formsec {
  background: transparent;
}

.contact-container-padding {
  background-color: transparent;
  background-image: linear-gradient(90deg, var(--secondary-color) 35%, var(--secondary-color-opacity) 100%);
  opacity: 0.9;
  height: 100%;
}

.contact-container-small {
  padding: 3rem 1rem !important;
}

.contact1-col {
  padding: 2rem 0 !important;
}

.contact1-phone,
.contact1-email,
.contact1-address {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 1.5rem 0;
  gap: 1.2rem;
}

.contact1-details-main-head {
  letter-spacing: 0.2rem;
  font-family: var(--font-orbitron);
}

.contact1-details-head {
  font-size: 1.1rem;
  font-weight: 700;
}

.contact1-col-2 {
  background-color: var(--secondary-color);
  padding: 1rem 3rem 1rem 2rem !important;
}

.contact1-col-2 h2 {
  font-family: var(--font-orbitron);
  font-size: 2.3rem;
}

.contact1-col-2 label {
  font-size: 1rem;
  font-weight: 600;
}

.contact1-col-2 input,
.contact1-col-2 textarea {
  font-size: 1rem !important;
  font-weight: 400;
  padding-left: 0.5rem !important;
  padding-right: 0.5rem !important;
  border: solid 0.08rem grey !important;
}

.contact1-col-2 textarea {
  padding-top: 1rem !important;
  height: 10rem;
  width: 103.25% !important;
  resize: vertical;
}

.contact1-col-2 input:hover,
.contact1-col-2 textarea:hover {
  border: solid 0.1rem white !important;
}

.contact1-col-2 input:focus,
.contact1-col-2 textarea:focus {
  border: solid 0.1rem white !important;
}

.contact1-col-2 button {
  width: 103.25% !important;
  font-weight: 700;
  text-transform: uppercase;
}


/* <==========Error=============> */

.error-warning-icon {
  width: 5rem;
  height: 5rem;
}
/* .mainerror{
  padding: 50px 140px ;
} */
.banner-404{
  background-color: #04044c;
  padding: 60px 0;
}

.social-icons-404>li {
  display: inline-block;
}

.error-404 {
  width: 100%;
  height: 80vh;
}